@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.login-background {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.login-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 50px 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
  max-width: 350px;
  width: 100%;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.login-box input {
  display: block;
  margin: 15px auto;
  padding: 12px 16px; /* Más padding lateral */
  width: 90%; /* Menos ancho que el 100% */
  max-width: 280px; /* Limita el tamaño para no pasar el botón */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que padding no sobrepase el ancho */
}


.login-box button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #3498db;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  max-width: 280px;
  font-size: 16px;
}


.login-box button:hover {
  background-color: #2980b9;
}

.error-message {
  color: #ff4d4d;
  margin-bottom: 10px;
}
